<div>
  <hoge></hoge>
  <fuga></fuga>
</div>

<nroot>
  <num num="1"></num>
  <num num="2"></num>
  <num num="3"></num>
</nroot>


<nroot>
  <num num="4"></num>
  <num num="5"></num>
  <num num="6"></num>
</nroot>

<h1>全体</h1>
<div>
  <num num="7"></num>
  <num num="8"></num>
  <num num="9"></num>
</div>